<div>
    <h3>New Event</h3>
    <hr/>
    <form name="newEventForm" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventName">Event Name:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventName" required ng-model="event.name" placeholder="Name of event" />
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventDate">Event Date:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventDate" date-keys required ng-model="event.date" placeholder="format (mm/dd/yyyy)"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventTime">Event Time:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventTime" ng-model="event.time" placeholder="start and end time" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventLocation">Event Location:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventLocation" ng-model="event.location" placeholder="Address of event" />
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventCity">Event Name:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventCity" ng-model="event.city" placeholder="City" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventProvince">Event Name:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventProvince" ng-model="event.province" placeholder="Province" class="input-small"
                />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="eventImageUrl">Image:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="eventImageUrl" ng-model="event.imageUrl" placeholder="Url of image" class="input-xlarge"
                />
            </div>
        </div>

        <div class="form-group">
            <img src="" alt="" ng-src="{{event.imageUrl}}">
        </div>

        <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
        <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
    </form>
</div>